<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">Still Followers</span>
        <span class="site-description">for Instagram</span>
      </h1>
      <br>
      <div class="header-icons">
	      <a href="{{ site.appstore_instagram_link }}"><img src="/assets/img/Download_on_the_App_Store_Badge_US-UK_135x40.svg" width="260"></a>
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>