<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title_instagram %}{{ page.title_instagram }}{% else %}{{ site.title_instagram }}{% endif %}</title>
  <meta name="description" content="{% if page.description_instagram %}{{ page.description_instagram | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description_instagram }}{% endif %}" />
  <link rel="shortcut icon" href="{{ site.favicon_instagram }}" type="image/x-icon" />
  <link rel="apple-touch-icon" href="{{ site.touch_icon_instagram }}" />

  <meta property="og:title" content="{% if site.opengraph_instagram.title %}{{ site.opengraph_instagram.title }}{% else %}{{ site.title_instagram }}{% endif %}" />
  <meta property="og:site_name" content="{% if site.opengraph_instagram.title %}{{ site.opengraph_instagram.title }}{% else %}{{ site.title_instagram }}{% endif %}" />
  <meta property="og:description" content="{% if site.opengraph_instagram.description %}{{ site.opengraph_instagram.description }}{% else %}{{ site.description_instagram }}{% endif %}" />
  <meta property="og:locale" content="en_US" />
  <meta property="og:image" content="{% if site.opengraph_instagram.image %}{{ site.url }}{{ site.opengraph_instagram.image }}{% endif %}" />
  <meta property="og:image:height" content="{{ site.opengraph_instagram.height }}" />
  <meta property="og:image:width" content="{{ site.opengraph_instagram.width }}" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@{{ site.twitter_username }}" />

  <meta name="apple-itunes-app" content="app-id=1394497522, affiliate-data=at=&ct=smart">

  <link rel="stylesheet" href="{{ "/assets/css/main.css" | prepend: site.baseurl }}">
</head>
