
<div id="faq">
  <br>
  <div class="question">
    <div class="question-details">
      <p><h3> What is Still Followers for TikTok? </h3></p>
      <p>The tool to become your own TikTok community manager!</p>
	  <p>Get powerful tracking and analytics of your TikTok followers. As easy as login to your TikTok profile and let the app show you who is not following back, who are your fans, who are your new followers, who are your lost followers... with just one tap!</p>
	  <p>Give up wasting your time!</p>
    </div>
  </div>
  <div class="question">
    <div class="question-details">
      <p><h3> How to get more followers for TikTok? </h3></p>
      <p>The right way to get more followers in TikTok is organic growth. Period.</p>
      <p>We present you the follow unfollow method. This follow unfollow method has been proven to be one of the most effective and powerful strategies to gain more TikTok followers.</p>
      <p>In a nutshell, it consists on following and unfollowing other TikTok users expecting the follow back. The benefits of doing that is to make other people have a look at your account in order to lead them to potentially follow you.</p>
      <p>As simple as it main sounds, this strategy have been tested and proven to be highly effective for growing your social followers.</p>    
    </div>
  </div>
  <div class="question">
    <div class="question-details">
      <p><h3> How to properly execute the follow unfollow strategy? </h3></p>
      <p>Let Still Followers for TikTok do the work for you.</p>
      <p>Still Followers for TikTok will make real time reports about who is not following back, who are your fans, who are your new followers, who are your lost followers and even who unfriended you on TikTok. After that, smart management... It will follow back your good fans and unfollow who is not following back... with just one tap!</p>
      <p>But, there is one more thing... Still Followers also features the exclusive Copy Followers functionality! It allows you to run the follow unfollow strategy over the followers of your competitors in order to capture them to your account... with just one tap!</p>
    </div>
  </div>
  <div class="question">
    <div class="question-details">
      <p><h3> Is it safe to use? </h3></p>
      <p>Completely safe. Unlike other apps in the market, Still Followers for TikTok does not sell or share fake followers, which is against the TikTok Terms of Service.</p>
      <p>It is not worth to spend lots of money in order to buy fake followers if then your TikTok account will get banned for those illegal practices. So, protect your account and stay away of those fast but unsafe paths.</p>
      <p>The best and proven method to go big in TikTok is with organic growth. Still Followers for TikTok will help you to grow legally.</p>
      <p>It is not as fast as other services, but you will not lose your account after a while.</p>
    </div>
  </div>     
  <div class="question">
    <div class="question-details">
      <p><h3> What is the Copy Followers functionality? </h3></p>
      <p>The Copy Followers functionality allows you to execute the follow unfollow strategy over the TikTok followers of your direct competitors in order to try to steal them... with just one tap!</p>
      <p>This is an exclusive feature you will not find in any other app in the App Store, only in Still Followers for TikTok.</p>
    </div>
  </div>  
  <div class="question">
    <div class="question-details">
      <p><h3> Who blocked me on TikTok? </h3></p>
      <p>Still Followers for TikTok will show you who blocked you on TikTok.
      <p>Just set the users you want to check and Still Followers will show if they have already blocked you or alert you in case it ever happens in the future.</p>
    </div>
  </div>  
  <div class="question">
    <div class="question-details">
      <p><h3> Who unfriended me on TikTok? </h3></p>
      <p>Someday, the worst will happen and some of your friends on TikTok (people you are following each other) may unfriend you. It can't show you "the why", but Still Followers can find out and alert you about who unfriended you on TikTok when it happens.</p>
      <p>This is an exclusive feature you will not find in any other app in the App Store, only in Still Followers for TikTok.</p>
    </div>
  </div>  
  <div class="question">
    <div class="question-details">
      <p><h3> How to gain followers on TikTok? </h3></p>
      <p>The follow unfollow method has been proven to be one of the most effective and powerful strategies to gain more TikTok followers.</p>
      <p>The Still Followers app has established as the best tool to manage your TikTok account. Over 50,000 users can confirm. </p>
    </div>
  </div>  
  <div class="question">
    <div class="question-details">
      <p><h3> How to steal TikTok followers of your competitors? </h3></p>
      <p>Just use the Copy Followers functionality in the Still Followers for TikTok app.</p>
      <p>This is an exclusive feature you will not find in any other app in the App Store, only in Still Followers for TikTok.</p>
    </div>
  </div>  
  <div class="question">
    <div class="question-details">
      <p><h3> How to safely grow and go big in TikTok? </h3></p>
      <p>The most important word here is safely. The right way to get more followers in TikTok is organic growth. Period.</p>
    </div>
  </div>    
  <div class="question">
    <div class="question-details">
      <p><h3> Is your TikTok information safe with Still Followers? </h3></p>
      <p>Your TikTok data will always remain only and exclusively in your device. Nothing is send or stored in our servers because we don't even have any server.</p>
      <p>You can have the peace of mind that your TikTok data will never be sold or shared to third-parties like other similar apps in the App Store are currently doing. Promise.</p>
      <p>With Still Followers for TikTok only you own your information.</p>
    </div>
  </div>
  <br>
</div>